<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EntregaEncomendas.Properties.Settings.entrega_encomendasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=entrega_encomendas;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="EntregaEncomendas.Properties.Settings.entregasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=entregas;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>